{% extends 'manager_base.html' %}



{% block title %}
Todays Meal Management
{% endblock title %}


{% block content %}



<div class="container-fluid">
        
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title fw-semibold mb-4">Meal Management</h5>
          <div class="">
            <div class="card-body">





              <form action="{% url 'mealmanagement' %}" method="post" >
                {% csrf_token %}

                {% if messages %}
                {{message.tags}}  
                <div class="alert alert-primary" role = 'alert'>
                  {% for message in messages %}
                  {{message}}
                  {% endfor %}
        
                </div>
                {% endif %}

                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Meal Charge</label>
                  <input required type="number" name="meal_charge" value="30" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">                  
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Meal Date</label>
                    <input required type="date" name="meal_date"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">                  
                </div>


              
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>


      
            </div>
          </div>

     
        </div>
      </div>
    </div>

  </div>



{% endblock content %}