<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %} {% endblock title %}</title>
  <link rel="shortcut icon" type="image/png" href="/static/assets/images/logos/favicon.png" />
  <link rel="stylesheet" href="/static/assets/css/styles.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="/deshboard/" class="text-nowrap logo-img">
            <img src="/static/assets/images/logos/dark-logo.svg" width="180" alt="Brand" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
        {% if user.manager_status %}
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Management Mariam Hostel</span>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/management/mealmanagement/" aria-expanded="false">
                <span>
                  <i class="ti ti-article"></i>
                </span>
                <span class="hide-menu">Manage Today's Meal</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="#" aria-expanded="false">
                <span>
                  <i class="fa-solid fa-circle-info"></i>
                </span>
                <span class="hide-menu">Meal Report </span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/management/billcreate/" aria-expanded="false">
                <span>
                  <i class="ti ti-cards"></i>
                </span>
                <span class="hide-menu">Create A Bill</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/management/billsandpayements/" aria-expanded="false">
                <span>
                  <i class="ti ti-file-description"></i>
                </span>
                <span class="hide-menu">Bills & Payments</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/management/recharge/" aria-expanded="false">
                <span>
                    <i class="fa-solid fa-cash-register"></i>
                </span>
                <span class="hide-menu">Account Recharge</span>
              </a>
            </li>
            {% endif %}


          </ul>
       
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->


    <div class="body-wrapper">
      <!--  Header Start -->
      {% include 'includes/header.html' %}
      <!--  Header End -->
        <div class="container-fluid">

            {% block content %}


            {% endblock content %}



        </div> 
     
    </div>
  </div>
  <script src="/static/assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="/static/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/js/sidebarmenu.js"></script>
  <script src="/static/assets/js/app.min.js"></script>
  <script src="/static/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
  <script src="/static/assets/libs/simplebar/dist/simplebar.js"></script>
  <script src="/static/assets/js/dashboard.js"></script>
</body>

</html>